# Ignore all virtual environment folders
venv/

# Ignore Python cache files
__pycache__/
*.pyc



# CRITICAL: Ignore the secrets file
.env

# Ignore Buildozer files that will be created later
bin/
.buildozer/